.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
  pointer-events: none;
}

.loader-bar {
  height: 8px;
  background: #00f0ff;
  width: 0;
  transition: width 0.3s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-100%);
}
canvas {
  pointer-events: none;
}

.modal-container {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 40vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 30px;
  border-radius: 12px;
  color: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.modal-container.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.modal-container.hide {
  transform: translateY(-100px);
  opacity: 0;
  pointer-events: none;
}
